$pink:#e198ad;
$aqua: #98dddf;
$yellow: #e1d198;
$teal: #00979c;

//CardHero
$header-color: #000000;

$blk60percent: rgba(0, 0, 0, 0.6);
$cardhero-subheader-color: $blk60percent;

$card-supertext-color: #4b4b4b;
$card-scheduled-pending-copy-color: rgba(19, 19, 19, 0.6);

//Cards Buttons
$boxshadow: 4px 4px rgba(0, 0, 0, 1);

