@font-face {
  font-family:'Lexend';
  src: url('../../assets/fonts/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family:'Lexend';
  src: url('../../assets/fonts/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family:'Lexend';
  src: url('../../assets/fonts/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family:'Lexend';
  src: url('../../assets/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family:'Mont';
  src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family:'Mont';
  src: url('../../assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family:'Mont';
  src: url('../../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family:'Mont';
  src: url('../../assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}