//Card Hero
$cardhero-header: 1.125rem;
$cardhero-subheader-text: 0.75rem;
$cardhero-numbers: 1.5rem;

//Category Header
$category-headers: 1.125rem;

//Card Scheduled Assemblies
$card-scheduled-pending-supertext: 0.625rem;
$card-scheduled-pending-header: 0.875rem;
$card-scheduled-copy: 0.625rem;

//Card Pending Approval
$card-pending-copy: 0.75rem;
$card-pending-bar-text: 0.625rem;


//Button
$button-font-size: .75rem;
