@use "./styles/partials/fonts" as *;
@use "./styles/partials/colors" as *;
@use "./styles/partials/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mont";
}

body {
  background-color: $pink;
  // font-family: 'Lexend';
  // margin: 5rem;
  // padding: 3rem 8rem;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // height: 100vh;
}

a { 
  text-decoration: none;
  color: black;
  font-weight: 600;
  
  &:hover {
    color: $teal;
  }
}

.cardheader {
  font-weight: 700;
  font-size: $cardhero-header;
}

.subheader {
  font-family: "Lexend";
  font-size: $cardhero-subheader-text;
  color: $cardhero-subheader-color;
}

.subheader2 {
  font-family: "Lexend";
  font-size: $cardhero-subheader-text;
  color: $cardhero-subheader-color;
}

.cardhero-value {
  font-weight: 800;
  font-size: $cardhero-numbers;
}

#card {
  border-radius: 1rem;
  box-shadow: $boxshadow;
  border: 1px solid black;
}

#bodyheader {
  font-weight: 600;
  font-size: 1rem;
  margin: 1.5rem 0;
}

#bodyheader3{
  font-weight: 600;
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}

#discoheader {
  font-weight: 600;
  font-size: 18px;
  margin: 1.2rem 0;
}


#supertext {
  font-family: "Lexend";
  font-weight: 500;
  font-size: $card-scheduled-pending-supertext;
  color: $card-supertext-color;
}

#supertext2 {
  font-family: "Lexend";
  font-weight: 500;
  font-size: $card-scheduled-pending-supertext;
  color: $card-supertext-color;
}

#cardheader {
  font-size: $card-scheduled-pending-header;
  font-weight: 700;
}

#cardheader2 {
  font-size: $cardhero-header;
  font-weight: 700;
}

#cardheader3 {
  font-size: 1rem;
  font-weight: 700;
}

.cardcopy {
  font-size: $card-scheduled-copy;
  font-family: "Lexend";
  color: $card-scheduled-pending-copy-color;
}

#cardcopy {
  font-size: $card-pending-copy;
}

#voting {
  font-size: $card-pending-bar-text;
  font-family: "Lexend";
  font-weight: 500;
  color: $card-supertext-color;
}

#searchbar {
  background-image: url();
}

#teal {
  background: $teal;
  transform: translateX(-75%);
}

#aqua {
  background: $aqua;
  transform: translateX(-25%);
}

#yellow {
  background: $yellow;
  transform: translateX(-45%);
}

#pink {
  background: $pink;
}

#ylw {
  background: $yellow;
}

#tl {
  background: $teal;
} 

#aq {
  background: $aqua;
}

